<div class="container mx-auto mt-8">
  <h1>Frequently asked questions</h1>

  <div class="py-12">

    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-left">
        <div class="">
          <div class="mx-auto max-w-3xl text-lg text-gray-900">
            
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">Where can I get information about Covid-19?</p>

                <div class="comment__author">
                  <p class="comment__author-name">The World Health Organization website https://www.who.int/  or the CDC https://www.cdc.gov//p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">What should I do if I have symptoms or if I feel sick?</p>

                <div class="comment__author">
                  <p class="comment__author-name">Call your doctor</p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">What will you ask me about if I sign up?</p>

                <div class="comment__author">
                  <p class="comment__author-name">Fever, Cough, Difficulty Breathing, Sore Throat. 4 quick questions every day. An update only takes a few seconds.</p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">Will this only work if every person in the country does it?</p>

                <div class="comment__author">
                  <p class="comment__author-name">This project will not fail if a few people do not participate. However, we do need millions of people. The world needs need you and the people you know.</p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">Will this only work if people only sign up if they are sick?</p>

                <div class="comment__author">
                  <p class="comment__author-name">This project will fail if only sick people sign up. We need the largest number of people possible.</p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">Will you send me spam emails?</p>

                <div class="comment__author">
                  <p class="comment__author-name">No, we will never send you spam. If you would be willing to sign up for our newsletter [here] we’d love to keep you updated on the project and how we can all stop Covid-19. If you submit your email to get access to the data, you automatically sign up for our newsletter.</p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">Can I turn off once-a-day notifications?</p>

                <div class="comment__author">
                  <p class="comment__author-name">First, we hope you will keep them on. People are dying and losing their jobs. This is a small way to help. After one week, you can turn the notifications off. Remember, even if you are not feeling sick, it is extremely important to check in. This does not work if only sick people check in.</p>
                </div>
                <div class="comment__author">
                  <p class="comment__author-name">We know we wouldn’t remember to update without a notification, so that’s why we make that the default. Let’s get the data we need so that we can stop all the shut downs!</p>
                </div>
              </div>
            </div>
            <div class="comments mb-4 bg-white">
              <div class="comment">
                <p class="comment__body">Is someone making money from this?</p>

                <div class="comment__author">
                  <p class="comment__author-name">We covered starting costs with a grant from the <%= link_to '1517 fund', 'https://www.1517fund.com/' %>. We are volunteers creating a dataset to give away for free. Anyone who reports daily is also an important volunteer. We welcome additional help and funding from anyone who wants to overcome the Covid-19 crisis.</p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
