<div class="py-8 max-w-2xl m-auto text-left flex flex-col items-center justify-center">
  <h1 class="mb-4 text-4xl normal-case">Report your temperature</h1>
  <p class="mb-6 text-gray-700 leading-normal text-xl">Even if you are not sick or even if you do not think that you are at risk for Covid-19. <span class="font-bold">We need your help!</span></p>
  <div class="flex flex-col items-center md:flex-row mb-8 w-full">
    <div class="w-full">
      <form action="#" class="w-full">
        <div class="border border-gray-400 rounded px-4 py-2 my-4">
          <div class="mb-4">
            <label for="temperature" class="text-lg normal-case">Temperature</label>
            <p class="mb-4">Click the button below that corresponds to your current temperature</p>
            <div class="flex w-full px-2">
              <div class="radio-button w-full">
                <input type="radio" class="radio-button__input" name="temperature" id="normal" value="normal" checked>
                <label for="normal" class="w-full radio-button__label text-center">
                  <p class="mb-0 font-bold mb-2 text-md">Under 98.6F (37 C)</p>
                  <p class="mb-0 normal-case handwriting text-xl">Normal</p>
                </label>
              </div>
            </div>
            <div class="form-group flex flex-wrap items-center justify-start">
              <div class="flex w-full">
                <div class="radio-button w-2/3">
                  <input type="radio" class="radio-button__input" name="temperature" id="fever" value="fever">
                  <label for="fever" class="mx-2 radio-button__label text-center">
                    <p class="mb-0 font-bold mb-2 text-md">Above 100.4 F (38.0 C)</p>
                    <p class="mb-0 normal-case handwriting text-xl">Fever</p>
                  </label>
                </div>
                <div class="radio-button w-1/3">
                  <input type="radio" class="radio-button__input" name="temperature" id="dangerous" value="dangerous">
                  <label for="dangerous" class="mx-2 radio-button__label text-center">
                    <p class="mb-0 font-bold mb-2 text-md">Above 104 F (40 C)</p>
                    <p class="mb-0 normal-case handwriting text-xl">Dangerous</p>
                  </label>
                </div>
              </div>
            </div>
          </div> 
        </div> 

        <div class="border border-gray-400 rounded px-4 py-2 my-4">
          <label for="symptoms" class="text-lg label normal-case">Symptoms</label>
          <p class="mb-4">Click any relevant symptoms.</p>
          <div class="form-group flex flex-wrap items-center justify-start">
            <div class="flex w-full">
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="cough" value="cough" >
                <label for="cough" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Cough</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="throat" value="throat">
                <label for="throat" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Sore throat</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="breathing" value="breathing">
                <label for="breathing" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Shortness of breath</p>
                </label>
              </div>
            </div> 
            <div class="flex w-full">
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="nose" value="nose" >
                <label for="nose" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Runny nose</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="aches" value="aches">
                <label for="aches" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Body aches</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="headache" value="headache">
                <label for="headache" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Headache</p>
                </label>
              </div>
            </div> 
            <div class="flex w-full">
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="sneezing" value="cough" >
                <label for="sneezing" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Sneeze</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="fatigue" value="throat">
                <label for="fatigue" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Fatigue</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="checkbox" class="radio-button__input" name="symptoms" id="diarrhoea" value="breathing">
                <label for="diarrhoea" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">Diarrhoea</p>
                </label>
              </div>
            </div> 
          </div>
        </div>
        <div class="border border-gray-400 rounded px-4 py-2 my-4">
          <label for="age" class="text-lg label lg:pr-4 lg:mt-2 normal-case">Age</label>
          <div class="form-group flex flex-wrap items-center justify-start">
            <div class="flex w-full">
              <div class="radio-button w-1/3">
                <input type="radio" class="radio-button__input" name="age" id="18" value="18" >
                <label for="18" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">18 - 29</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="radio" class="radio-button__input" name="age" id="30" value="30">
                <label for="30" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">30 - 39</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="radio" class="radio-button__input" name="age" id="40" value="40">
                <label for="40" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">40 - 49</p>
                </label>
              </div>
            </div> 
            <div class="flex w-full">
              <div class="radio-button w-1/3">
                <input type="radio" class="radio-button__input" name="age" id="50" value="50" >
                <label for="50" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">50 - 59</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="radio" class="radio-button__input" name="age" id="60" value="60">
                <label for="60" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">60 - 69</p>
                </label>
              </div>
              <div class="radio-button w-1/3">
                <input type="radio" class="radio-button__input" name="age" id="70" value="70">
                <label for="70" class="mx-2 radio-button__label text-center">
                  <p class="mb-0 text-lg normal-case handwriting">70+</p>
                </label>
              </div>
            </div> 
  
          </div>
        </div>
        <div class="border border-gray-400 rounded px-4 py-2 my-4">
          <label for="symptoms" class="text-lg label  normal-case">Location</label>
          <p class="mb-4">Share your location. This is intentionally inexact.</p>

          <div class="form-group flex flex-wrap items-center justify-start">
            <label for="zip" class="text-lg lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2 normal-case">Zipcode</label>
            <input pattern="[0-9]*" name="zip" id="zip" class="form-control lg:flex-1">
          </div>
        
          <div class="form-group flex flex-wrap items-center justify-start">
            <label for="city" class="text-lg lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2 normal-case">City</label>
            <input for="city" class="form-control lg:flex-1">
          </div>

          <div class="form-group flex flex-wrap items-center justify-start">
            <label for="state" class="text-lg lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2 normal-case">State</label>
            <div class="lg:flex-1 w-full">
              <input type="text" name="state" id="state" class="form-control" value="">
            </div>
          </div>
        </div>

        <div class="mt-8">
          <input type="submit" value="Submit todays temperature" class="normal-case btn btn-primary w-full text-2xl text-center block h-12">
        </div>
        
      </form>
    </div>
  </div>

</div>
