<h1 style="line-height: 1.25em">Thank you for signing up to the National Fever Tracker</h1>

<p class="mt-4" style="font-size: 16px;">
  If you are willing to report your symptoms once a day for the duration of the Covid-19 epidemic, you can help people detect cases, understand the spread, and appropriately respond to this threat. This is vitally important. With better data we can save lives and we can save our economy. Everyone wants to get back to life, back to restaurants, back to seeing friends. Everyone also wants to stop millions of avoidable deaths. The way to win is through data.
</p>
<p class="mt-4" style="font-size: 16px;">
  Simply put, our mission is to collect self-reported symptoms from everyone in the country.
</p>
<p class="mt-4">
  This tool was developed in March 2020 in response to a massive crisis that is resulting in deaths and job losses and loneliness. We are asking for help from every person. It’s your world. It’s your data. This data we collect goes directly to the research community and is available to all for free.
</p>
<p class="mt-4" style="font-size: 16px;">
  This data is not a substitute for widespread direct testing for the Covid-19 virus, but it's something to fill the gap. If enough people participate, this will be extremely valuable. Let’s get the world opened up again. Let’s take Covid-19 out!
</p>
<p class="mt-4" style="font-size: 16px;">
  Our application will ask you every day to report if you have a fever or not. We will ask for a few more signature symptoms of Covid-19, such as trouble breathing. The update only takes a few seconds to do.
</p>
<p class="mt-4" style="font-size: 16px;">
  All health information is private. We do not collect any personal identifiers so your responses can not be linked to you directly to you. The symptoms you report will be aggregated and reported by geographic region. Even we will not know who you are.
</p>
<p class="mt-4 italic text-gray-700">
  P.S. This is not a business and has no intention of trying to make money. The volunteers working on this are academics and researchers.  <%= link_to 'Learn about the people behind this', about_url %> , or <%= link_to 'contact us to contribute', 'mailto:joy@nationalfevertracker.com' %>.
</p>